---
import { Image } from "astro:assets";
interface Props {
	images: {
		src: string;
		alt: string;
	}[];
}

const { images } = Astro.props;
const count = images.length;
---

<div class="carousel-wrapper my-8">
	<div class="carousel flex snap-x gap-2 overflow-x-auto scrollbar-hidden">
		{
			images &&
				images.map(({ src, alt }) => (
					<Image
						class="carousel-image mx-auto h-[250px] cursor-pointer snap-center shadow-md md:h-[350px]"
						src={src}
						alt={alt}
						width={1200}
						height={800}
					/>
				))
		}
	</div>

	<div class="text-center italic">
		<p class="-mb-2 mt-4">{count} photos</p>
		<slot />
	</div>
</div>
