---
import { Image } from "astro:assets"

interface Props {
    src: string,
    alt: string,
}

const { src, alt } = Astro.props
---

<div class="image-row my-8">
    <Image class="gallery-image w-auto mx-auto cursor-pointer max-h-[450px]"
            src={src}
            alt={alt}
            width={600}
            height={450}/>
    <p class="text-center italic">{alt}</p>
</div>