---
import { Image } from "astro:assets"

interface Props {
    src: string,
    alt: string,
}

const { src, alt } = Astro.props
---

<Image class="gallery-image w-full mx-auto cursor-pointer max-h-[450px] mt-8"
        src={src}
        alt={alt}
        width={600}
        height={450}/>
<p class="text-center italic mb-8">{alt}</p>
