---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lukas Martincek">
    <main>
        <h1 class="font-serif text-[2.5rem] tracking-tight text-primary">
            Finding home
        </h1>

        <p class="pt-4 text-sm">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur deserunt voluptatibus! Cum dolor est harum mollitia, nostrum possimus quasi similique vero vitae voluptate. Alias illum iste magnam quidem reprehenderit!
        </p>

        <section class="pt-8">
            <h2 class="font-medium tracking-tight text-title">Map</h2>
            <div class="pt-1.5">
                <div id="map" class="h-96 w-full"></div>
            </div>
        </section>
    </main>
</Layout>