---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lukas Martincek">
    <div id="map-overlay" style="display: none"
         class="fixed z-[1000] flex justify-center items-center inset-0 bg-black/50 backdrop-blur-sm sm:top-10 sm:right-10 sm:inset-auto sm:bg-transparent sm:backdrop-blur-0">
        <div class="maps-content-overlay bg-white w-[320px] md:w-[360px] max-h-[400px] p-5 rounded-lg text-left overflow-y-auto relative shadow-2xl">
            <div id="close-overlay" class="absolute top-4 right-4 cursor-pointer z-10">X</div>
            <div id="map-content" class="maps-content"/>
        </div>
    </div>
    <main>
        <h1 class="font-serif text-[2.5rem] tracking-tight text-primary">
            Finding home
        </h1>

        <p class="pt-4 text-sm">
            Home is not just a place; it’s an experience.<br>
            In a map shown below are listed few places I visited throughout recent years.<br>
            Some of them visited as a tourist.<br>
            Some of them visited as digital nomad and spent quite a while working from there.<br>
            In our search for experience, I ended up finding myself in places, that I call now home.
        </p>

        <section class="pt-8">
            <h2 class="font-medium tracking-tight text-title">Map</h2>
            <div class="pt-1.5">
                <div id="map" class="h-96 w-full"></div>
            </div>
        </section>
    </main>
</Layout>