---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="Finding Home"
        description="A map of the places that have left their mark on my life"
        maxBodyWidth="md:max-w-[1100px]">
    <main>
        <h1 class="font-serif text-[2.5rem] tracking-tight text-primary">
            Finding home in unexpected places
        </h1>

        <p class="pt-4 text-sm">
            Home is not just a place; it’s an experience.<br>
            It is about the ways that objects, places, and people are intertwined in the stories we tell ourselves.<br>
            In our search for home, we end up finding parts of ourselves, our memories, and our future.<br><br>

            - Sherry Turkle
        </p>

        <Map/>
    </main>
</Layout>